<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static',filename='css/menu.css') }}">

<!--author xeon zolt-->

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <title>OCR</title>
</head>
<body>

<div class="open">
  <span class="cls"></span>
  <span>
        		<ul class="sub-menu ">
        			<li>
        				<a href="http://github.com/xeon-zolt/OCR" title="Github">Github</a>
        			</li>
        		</ul>
        	</span>
  <span class="cls"></span>
</div>

<!--file upload form-->
<form method="POST" enctype="multipart/form-data">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-4 mx-auto">
        <h2 align="center">OCR</h2>
        <p align="center">upload image to convert it to text</p>
       
        <div class="col-md-06">
          <div class="form-group">
            <label>Upload Wallpaper:</label>
            <label class="btn btn-secondary mx-auto btn-block btn-secondary">
              <span style="white-space: pre-wrap;">Browse</span>
              <input name="file" class="file form-control" title="image to get text from" style="display: none;"
                     onchange="$(this).prev('span').text($(this).val()!=''?$(this).val():'Browse')" required=""
                     type="file">
            </label>
            <img id="file-upload">
          </div>
        </div>
        <input class="btn btn-info mx-auto btn-block form-control" id="file-upload" value="Extract Text" required=""
               type="submit">
      </div>
    </div>
  </div>
</form>

<script type="text/javascript" src="{{ url_for('static', filename='js/menu.js') }}"></script>

</body>
</html>
